.vscode/
.DS_Store

# 1. 특정 폴더 안의 '모든 파일'을 일단 제외 후보로 등록 (뒤에 /* 추가)
/baekjoon/*
/paiza/*
/あれこれ/*

# 2. 제외 대상에서 '확장자가 있는 파일들(.cpp)'은 예외로 처리하여 살려내기
!/baekjoon/*.cpp
!/paiza/*.cpp
!/あれこれ/*.cpp

# VS Code Code Runner 확장 프로그램이 만드는 임시 파일 제외
tempCodeRunnerFile
tempCodeRunnerFile.cpp