.vscode/
.DS_Store

# ==========================================
# [확장자 없는 유닉스 실행 파일만 저격해서 차단]
# ==========================================

# 1. baekjoon, paiza, あれこれ 폴더 안에서 이름에 점(.)이 없는 파일(실행파일) 전부 차단
/baekjoon/*
!/baekjoon/*.*

/paiza/*
!/paiza/*.*

/あれこれ/*
!/あれこれ/*.*

# ==========================================

# VS Code Code Runner 임시 파일 차단
tempCodeRunnerFile
tempCodeRunnerFile.cpp